.app {
    overflow-x:hidden;
    overflow-y:auto;
}
.row {
    margin-left: 50px ;
    margin-top: 50px ;
    margin-right: 50px ;
    margin-bottom: 50px;
}
.heavy {
    margin-top: 40px;
}
.autocomplete {

}
#tab1-next-btn {
    background-color: #ff6686;
    float: right;
}
#tab2-prev-btn {
    background-color: #7b53fc;
}
.tab2-last-div {
    margin-top: 30px;
}
h4 {
    padding-bottom: 40px;
}
#nav-bar {
    background-color: #1c2b36;
}
h1 {
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    color: rgba(119, 115, 115, 0.87);
/*    font-family: 'Open Sans', sans-serif; */
}
.writer {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(119, 115, 115, 0.87);
}
#dash-row {
    margin-top:0px;
    text-align: center;
}
ul {
    list-style-type: none;
}
.carddemoBasicUsage .card-media {
  background-color: #999999;
}
#card {
    border-radius: 6px;
}
md-card-content{
    height: 150px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#card-platform {
    background-color: rgb(239, 239, 239);
}
