.app {
    overflow-x:hidden;
    overflow-y:auto;
}
.row {
    margin-left: 50px ;
    margin-top: 50px ;
    margin-right: 50px ;
    margin-bottom: 50px;
}
.heavy {
    margin-top: 40px;
}
.autocomplete {

}
#tab1-next-btn {
    background-color: #ff6686;
    float: right;
}
#tab2-prev-btn {
    background-color: #7b53fc;
}
.tab2-last-div {
    margin-top: 30px;
}
h4 {
    padding-bottom: 40px;
}
#nav-bar {
    background-color: #1c2b36;
}
h1 {
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    color: rgba(119, 115, 115, 0.87);
/*    font-family: 'Open Sans', sans-serif; */
}
.writer {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(119, 115, 115, 0.87);
}
#dash-row {
    margin-top:0px;
    text-align: center;
}
ul {
    list-style-type: none;
}
.carddemoBasicUsage .card-media {
    background-color: #999999;
}
#card {
    border-radius: 6px;
    width: 450px;
}
.oddflex {
    margin-left:70px ;
}
.evenflex {
    margin-right:10px ;
}
md-card-content{
    height: 150px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#card-platform {
    background-color: rgb(239, 239, 239);
}
md-card md-card-header {
    padding: 0px;
}

#card-header {
    height: 4px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px 6px 0 0;
}
.fiesta {
    background-color: #ff6686;
}
.ultra_marine {
    background-color: #7b53fc;
}
.sea_blue {
    background-color: #21e8ea;
}
.golden_yellow {
    background-color: #ffc555;
}
.atom_green {
    background-color: #33DAA0;
}
.nice_green {
    background-color: #65A026;
}
.gibson_red {
    background-color: #D52735;
}
.gibson_orange {
    background-color: #EC4438;
}
span {
    font-family: 'Roboto', sans-serif;
    color: rgba(119, 115, 115, 0.87);
}
.heart {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto
}
#fab {
   position: fixed;
   bottom: 0;
   right: 0;
   left:0;
}
#fab-button {
    background-color: rgba(0, 0, 0, 0.54);
}
