.app {
    overflow-x:hidden;
    overflow-y:auto;
}
.row {
    margin-left: 50px ;
    margin-top: 50px ;
    margin-right: 50px ;
    margin-bottom: 50px;
}
.heavy {
    margin-top: 40px;
}
.autocomplete {

}
#tab1-next-btn {
    background-color: #ff6686;
    float: right;
}
#tab2-prev-btn {
    background-color: #7b53fc;
}
.tab2-last-div {
    margin-top: 30px;
}
h4{
    padding-bottom: 40px;
}
