<div ng-controller="DashboardController as dashCtrl">
    <div class="row" id="dash-row">
        <div class="col-sm-12">
            <h1>A word after a word after a word is power</h1>
            <p class="writer">Margaret Atwood</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5" ng-repeat="item in dashCtrl.content" ng-class-odd="'oddflex'" ng-class-even="'evenflex'">
            <md-card md-theme-watch id="card" >
                 <md-card-header id="main-card">
                     <div id="card-header" ng-class="{fiesta: item.past == 'fish', golden_yellow: item.past == 'yellow', atom_green: item.past == 'green', gibson_red: item.past == 'red', sea_blue: item.past == 'blue', ultra_marine: item.past == 'ultra', nice_green: item.past == 'nice-green', gibson_orange: item.past == 'orange'}"></div>
                 </md-card-header>
                <md-card-content >
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="favorite" id="favorite">
                       <ng-md-icon icon="favorite" ng-style="{fill:dashCtrl.change}" size="24" options="rotation:counterclock" ng-click="hitLike()"></ng-md-icon>
                    </md-button>
                    <span>1</span>
                    <md-button class="md-icon-button" aria-label="visibility">
                        <md-icon md-font-set="md">visibility</md-icon>
                    </md-button>
                    <span>1</span>
                    <md-button class="md-icon-button" aria-label="timeline">
                        <md-icon md-font-set="md">timeline</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <md-fab-speed-dial id="fab">
        <md-fab-trigger>
            <md-button aria-label="add" class="md-fab md-warn" id="fab-button">
                <md-icon md-font-set="md">add</md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>

</div>
