
<div class="modal-header">
    <div class="modal-color-header">
        <md-progress-linear md-mode="indeterminate" class="m-b"></md-progress-linear
    </div>
    <h3 class="modal-title" id="modal-header-title">Write your ideas down.</h3>
</div>
<div class="modal-body">
    <textarea class="form-control" id="message-text" rows="10" cols="100"></textarea>
</div>
<div class="modal-footer">
<!--    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button> -->
    <md-button class="md-raised md-accent btn-fw m-b-sm" id="poem-btn">Poem</md-button>
    <md-button class="md-raised md-accent btn-fw m-b-sm" id="comdey-btn">Comdey</md-button>
    <md-button class="md-raised md-accent btn-fw m-b-sm" id="story-btn">Story</md-button>
    <md-button class="md-raised md-accent btn-fw m-b-sm" id="lyrics-btn">Lyrics</md-button>
    <md-button class="md-raised md-accent btn-fw m-b-sm" id="drama-btn">Drama</md-button>
    <md-button class="md-raised md-accent btn-fw m-b-sm" id="sci-fi-btn">Sci-fi</md-button>
</div>
